<%= content_for(:title, "Create Player") %>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
     <h1><%= error %></h1>
  <% end %>
<% end %>

<%= form_for(@player) do |f| %>
  <p>
    <%= f.label :first_name %>
    <br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %>
    <br/>
    <%= f.text_field :last_name %>
  </p>
  <%= f.submit%>
<% end %>

<%= link_to "Home Page", root_path %>
